*{

box-sizing:border-box;

font-family:Arial, sans-serif;

}


body{

margin:0;

background:#f7f5ef;

color:#333;

}



/* LAYOUT */


.layout{

display:flex;

min-height:100vh;

}




/* SIDEBAR */


aside{

width:230px;

background:#ffffff;

padding:35px 25px;

border-right:1px solid #ddd;

}



aside h1{

font-size:24px;

font-weight:600;

color:#425a42;

margin-bottom:50px;

}



nav{

display:flex;

flex-direction:column;

gap:20px;

}



nav a{

text-decoration:none;

color:#555;

font-size:16px;

}



nav a:hover{

color:#425a42;

}





/* MAIN */


main{

flex:1;

padding:45px;

max-width:1000px;

}



header h2{

font-size:38px;

font-weight:500;

margin-bottom:10px;

}



header p{

color:#777;

}





/* SECTIONS */


section{

background:white;

margin-top:35px;

padding:30px;

border:1px solid #e3e0d8;

}



section h3{

font-size:20px;

font-weight:500;

margin-top:0;

}





/* FOOD LIST */


.food{

display:flex;

justify-content:space-between;

padding:18px 0;

border-bottom:1px solid #eee;

}



.food:last-child{

border:none;

}





/* PANTRY */


.shelf{

display:grid;

grid-template-columns:repeat(3,1fr);

gap:15px;

}



.item{

background:#f5f3ed;

padding:25px;

border:1px solid #ddd;

}



.item span{

display:block;

margin-top:10px;

color:#888;

font-size:14px;

}





/* RECIPE */


.recipe-panel{

background:#f4f6ee;

}





@media(max-width:800px){


.layout{

flex-direction:column;

}


aside{

width:100%;

}


.shelf{

grid-template-columns:1fr;

}


}
input{

width:100%;

max-width:400px;

padding:14px;

margin:8px 0;

border:1px solid #ddd;

font-size:15px;

}


section button{

background:#425a42;

color:white;

border:none;

padding:12px 25px;

cursor:pointer;

margin-top:15px;

}


section button:hover{

background:#354835;

}


#foodList .food{

display:flex;

justify-content:space-between;

align-items:center;

padding:18px 0;

border-bottom:1px solid #eee;

}


#foodList button{

background:#b05b45;

color:white;

border:none;

padding:8px 15px;

cursor:pointer;

}